body {
	height: 100%;
	margin: 0;
	padding: 0;
}

textarea{
	resize: none;
}

a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~ PAGINA DE PRESENTACION ~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.slider-principal{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner1.jpg") no-repeat center center fixed;
	display: flex;
	align-items: center;
	width: 100%;
	height: 450px;
	background-size: cover;
	color: white;
	text-align: center;
}
.slider-principal div h1{
	letter-spacing: 5px;
}
.slider-principal div p{
	font-size: 22px;
	margin-top: 20px;
}
#primera-seccion-presentacion{
	background-color: hsl(0, 0%, 80%);
	padding: 40px 0;
}
#segunda-seccion-presentacion{
	margin: 50px 0;
	text-align: center;
}
/* 300px es el Tamaño de la imagen */
/* Tamaño del carousel */
#carouselExampleControls{
	height: 300px !important;
}
.texto-seccion-presentacion{
	height: 170px !important;
}
/* Imagenes del carrousel de generos */
.carrousel-generos div > div img{
	height: 300px;
	display: block;
	width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer{
	/* Valores: 0 = horizontal :: -5 = vertical :: 10 = difuminado */
	box-shadow: 0 -3px 10px rgba(0, 0, 0, .3);
}
footer > .contFooter {
	min-width: 1100px !important;
}
/* Formulario */
.deleteBorder{
	border-radius: 3px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~ PAGINA DEL LOGIN ~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#login{
	margin-top: 80px;
	margin-bottom: 40px;
	width: 410px;
	padding: 20px 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#login form button{
	margin: 20px 0;
	font-size: 20px;
	letter-spacing: 1px;
}
#login form a{
	font-weight: bold;
	padding: 0;
	color: blue;
}

/*-------------------------------*/
/*------Perfil de usuario--------*/
/*-------------------------------*/

.coustomer-profile{
  text-align: center;
  padding: 2rem;
}


.customer-image{
  padding: 0.5rem;
  background: #fff;
  max-width: 10rem;
  margin-bottom: 1.5rem;
}

.contenedor-usuario{
  background: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~ PAGINA DE CONTACTO ~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#pagina-contacto{
	margin: 20px 0;
}

#mapa-ubicacion{
	text-align: center;
}

#mapa-ubicacion iframe{
	margin-top: 14px!important;
	border: lightblue 2px solid !important;
	border-radius: 5px;
}
#seccion-nuestras-redes h3{
	font-size: 35px;
}

#seccion-nuestras-redes > p{
	margin: 0;
	margin-top: 5px;
	margin-left: 5px;
}

.titulos-pag-contacto{
	font-size: 50px;
}

/*
ANTES DE PEGAR PONER TUS ESTILOS REVISAR LO SIGUIENTE : 
- NO MODIFICAR ESTILOS DE LAS CLASES DE BOOSTRAP NI ESTILOS DE LAS ETIQUETAS DE HTML
- USAR NOMBRES MAS "LARGOS" ( DESCRIPTIVOS ) EN LOS NOMBRES DE LAS CLASES 
- Por ejemplo. En ves de usar .detalle usar .detalle-productos

ANTES DE HACER EL PUSH BORRAR ESTE COMENTARIO
*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~ PAGINA DE DETALLE DE PRODUCTO ~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~ PAGINA DE CATALOGO DE PRODUCTOS ~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

