
.margenes{
	margin-top: 10%;
	margin-bottom: 15%;
	
}

.margenes-footer{
	padding: 30px 0;
}

.jumbotron{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner1.jpg") no-repeat center center fixed;
	display: table; /* Revisar */
	height: 70%;
	position: relative; /* Revisar */
	width: 100%;
	background-size: cover;
	color: white;
}


/*HERO*/


body {
	height: 100%;
	margin: 0;
	background-color: rgb(219, 219, 219);
}
textarea{
	resize: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer{
	/* Valores: 0 = horizontal :: -5 = vertical :: 10 = difuminado */
	box-shadow: 0 -5px 10px rgba(0, 0, 0, .3);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~ PAGINA DE CONTACTO ~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#bodyContacto{
	background-color: #fff;
}

.deleteBorder{
	border-radius: 3px;
}

