body{
	background:rgb(240, 240, 240);
}

/*-------------------------------*/
/*---Contenedor del formulario----*/
/*-------------------------------*/

.contenedor-login{
  background: #fff;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}


/*-------------------------------*/
/*-------Boton de enviar---------*/
/*-------------------------------*/

.boton-enviar{
    margin: 30px 0;
  	background: black;
  	border: none;
  	color: #fff;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	cursor: pointer;
}

/*-------------------------------*/
/*------Boton de cierre----------*/
/*-------------------------------*/

.close-btn{
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.close-btn:hover{
  color: #3498db;
}


/*-------------------------------*/
/*----Estilos de los enlaces-----*/
/*-------------------------------*/

a{
  font-weight: bold;
  font-style: italic;
}